@model CarApp.Models.CarApp.CarAppDeleteViewModel


<h1>Delete</h1>

<div>

    <h4>Car</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Id)

        </div>

        <div class="form-group row">
            <label asp-for="Owner" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Owner)

        </div>
        <div class="form-group row">
            <label asp-for="RegistrationNumber" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.RegistrationNumber)

        </div>
        <div class="form-group row">
            <label asp-for="VinNumber" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.VinNumber)

        </div>
        <div class="form-group row">
            <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Brand)

        </div>
        <div class="form-group row">
            <label asp-for="Model" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Model)

        </div>
        <div class="form-group row">
            <label asp-for="Color" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Color)

        </div>
        <div class="form-group row">
            <label asp-for="TypeOfFuel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.TypeOfFuel)
        </div>

        <div class="form-group row">
            <label asp-for="EngineCapacity" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.EngineCapacity)
        </div>
        <div class="form-group row">
            <label asp-for="NumberOfCarDoors" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.NumberOfCarDoors)
        </div>

        <div class="form-group row">
            <label asp-for="CarWeight" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CarWeight)
        </div>

        <div class="form-group row">
            <label asp-for="BuiltAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.BuiltAt)

        </div>
        <div class="form-group row">
            <label asp-for="RegistratedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.RegistratedAt)

        </div>

    </dl>


    <hr />
    <form asp-action="DeleteConfirmation">

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="index" class="btn btn-primary">Index</a>

    </form>


</div>

